<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
	</head>
	<body>
	{{ content }}
		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<section>
									<header class="major">
							
										<span class="byline">The Regional Comprehensive Digital Humanities Network has been made possible in part by the National Endowment for the Humanities: Exploring the human endeavor and the Institute of Museum and Library Services.</span>
										
										<br> <br>
										<span class="byline"> <font size="-1"> Any views, findings, conclusions, or recommendations expressed in this project do not necessarily represent those of the National Endowment for the Humanities or the Institute of Museum and Library Services.</font></smaller></span>
									</header>
									<div class="row">
										<section class="6u">
											<ul class="default">
										
											</ul>
										</section>
										<section class="6u">
											<ul class="default">
												
								
											</ul>
										</section>
									</div>
								</section>
							</div>
							<div class="4u">
								<section>
									
									<ul class="contact">
										<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/nehlogohorizontal.png" alt=""></a>		
										<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/imlslogo.png" alt=""></a>						<span class="phone"></span>
											<span></span>
										</li>
									</ul>
								</section>
							</div>
						</div>

					<!-- Copyright -->
						<div class="copyright">
					<center><a href="#" class="image feature"> <img src="{{ site.baseurl }}/assets/images/ccby.png" alt="" style="width:88px;height:31px";></a></center>
		
			This work is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/"> Creative Commons Attribution 4.0 International License.</a 


	</body>
</html>