---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										
										<span class="byline">A network of digital humanities practitioners at regional comprehensive universities</span>
									</header>
									<a href="#" class="button alt">Join the network</a>
								</section>
							</div>
						</div>

				</div>
			</div>

		

	{{ content }}