---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										
										<b><span class="byline">A network of digital humanities practitioners <br> at regional comprehensive universities</span></b>
									</header>
									<a href="#" class="button alt">Join the network</a>
								</section>
							</div>
						</div>

				</div>
			</div>

		

	{{ content }}